*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.serviceSection{
	padding:50px;
}
.serviceConainer{
	margin: auto;
	width: 70%;
}
.serviceContainer h2{
	color: lightgreen;
	text-align: center;
	font-size: 30px;
}
.serviceBoxes{
	display: flex;
}
.serviceBoxes{
	align-items: center;
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
}